.intro_bg{
  width: 100%;
  height: 100%;
  background-color: rgb(22, 22, 23);
}
.intro_img{
  width: 330px;
  height: 311px;
  position: absolute;
  left: calc(50% - 165px);
  top: calc(50% - 155.5px);
  cursor: pointer;
  background-image: url(/img/intro01.png);
  z-index: 2;
}
.intro_img:hover{
  background-image: url(/img/intro02.png);
}
.load_wrap{
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: 1s;
}
.load_wrap ul{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: white;
}
.load_wrap ul li:nth-child(1){
  animation: loading 0.5s alternate infinite;
}
.load_wrap ul li:nth-child(2){
  animation: loading 0.5s .1s alternate infinite;
}
.load_wrap ul li:nth-child(3){
  animation: loading .5s .2s alternate infinite;
}
.load_wrap ul li:nth-child(4){
  animation: loading .5s .3s alternate infinite;
}
.load_wrap ul li:nth-child(5){
  animation: loading .5s .4s alternate infinite;
}
.load_wrap ul li:nth-child(6){
  animation: loading .5s .5s alternate infinite;
}
.load_wrap ul li:nth-child(7){
  animation: loading .5s .6s alternate infinite;
}
.load_wrap ul li:nth-child(8){
  animation: loading .5s .7s alternate infinite;
}
.load_wrap ul li:nth-child(9){
  animation: loading .5s .8s alternate infinite;
}
.load_wrap ul li:nth-child(10){
  animation: loading .5s .9s alternate infinite;
}
.load{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* transform-origin: 30px 30px 0; */
  animation: load 4s linear infinite;
}
.load span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  position: absolute;
}

.load span:nth-child(1){
  background-color: rgb(212, 57, 57);
  top: 0;
  animation: span 1s .2s alternate infinite;
}
.load span:nth-child(2){
  background-color: blueviolet;
  left: 0;
  animation: span 1s .4s alternate infinite;
}
.load span:nth-child(3){
  background-color: rgb(9, 112, 202);
  bottom: 0;
  animation: span 1s .6s alternate infinite;
}
.load span:nth-child(4){
  background-color: aliceblue;
  right: 0;
  animation: span 1s .8s alternate infinite;
}
.hide{
  display: none;
}

@keyframes load{
  0%{
    rotate: 0;
  }
  50%{
    rotate: 180deg;
  }
  100%{
    rotate: 360deg;
  }
}
@keyframes span{
  0%{scale: 1;}
  50%{scale: 1.25;}
  100%{scale: 1;}
}
@keyframes loading{
  0%{ padding-top: 0;}
  100%{padding-top: 2px;}
}