@media (max-width:1280px) {
  .mv_click{
    display: flex;
  }
  .scroll{
    display: none;
  }
  .sec01 .profile{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .sec01 .profile img{
    width: 50%;
  }
  .sec01 .profile .tab_wrap{
    height: 30%;
  }
  .etc_hover{
    position: relative;
  }
  .sec04 .main_img .etc_btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .sec04 .main_img{
    align-items: end;
  }
  .banner h3{
    top: 30%;
  }
}
@media (max-width:1147px) {
  .foot .foot_wrap .con_box .con_wrap ul input{
    width: 100%;
  }
}
@media (max-width:860px) {
  header nav ul{
    width: 70%;
  }
  header .pg_up i{
    font-size: 3.5vw;
    transform: translateY(20%)
  }
  .sec02_wrap .skills{
    flex-wrap: wrap;
  }
  .sec03 .sec03_wrap .port_wrap>div b{
    top: 29%;
  }
  .sec03_wrap .port_hover{
    justify-content: space-around;
  }
  .hover_txt dl{
    font-size: 1.8vw;
  }
  .sec03_wrap .port_hover .port_btn>a{
    width: 80px;
    height: 30px;
    line-height: 30px;
  }
  .swiper-button-next{
    right: 18% !important;
    top: 57% !important;
  }
  .swiper-button-prev{
    left: 18% !important;
    top: 57% !important;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 20% !important;
  }
  .sec04 .main_img h3{
    font-size: 6vw;
  }
  .sec04 .main_img p{
    font-size: 2vw;
  }
  .foot .foot_wrap{
    flex-direction: column;
    justify-content: end;
    padding-bottom: 3%;
  }
  footer h2{
    left: 0;
  }
  .foot .foot_img{
    width: 100% !important;
    height: fit-content !important;
    flex-direction: row;
    justify-content: center;
  }
  .foot .foot_img>img{
    width: 30%;
  }
  .foot .sns{
    justify-content: center;
  }
  .foot .sns>a{
    margin-right: 5%;
  }
  .foot .txt_sns{
    width: 50%;
  }
  .foot .foot_wrap .con_box{
    width: 100%;
    height: 65%;
  }

  .foot .txt_sns p{
    font-size: 1.8vw;
  }
  .foot .sns{
    padding-left: 3%;
  }
  .foot .sns>a{
    padding-bottom: 5px;
  }
  .con_wrap button{
    height: 30px;
  }
}
@media (max-width:600px) {
  section h2, footer h2{
    top: 5%;
    font-size: 9vw;
  }
  .container{
    width: 90%;
  }
  .mv_click{
    bottom: 10%;
  }
  header .main_vs video{
    object-fit: cover;
    object-position: 66% ;
  }
  header .main_vs .main_txt{
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
  }
  header .main_vs .main_txt p{
    font-size: 2rem;
  }
  header .main_vs .main_txt h2{
    font-size: 3rem !important;
  }
  header .outer{
    display: none;
  }
  header .hbg{
    display: flex;
  }
  header nav{
    align-items: start;
    top: inherit;
    bottom: 0;
  }
  header .pg_up{
    width: 30px;
    height: 30px;
    bottom: 7%;
    right: 3%;
  }
  header .pg_up i{
    font-size: 5vw;
    transform: translateY(-50%);
  }
  .swiper-button-next, .swiper-button-prev{
    display: none !important;
  }
  .sec01 .profile .tab_wrap{
    width: 100%;
    height: 40%;
  }
  .sec01 .profile .tab_wrap>div{
    width: 93%;
  }
  .sec01 .profile .tab_wrap h3{
    font-size: 4.125vw;
  }
  .sec01 .pro_tab h4{
    font-size: 3vw;
  }
  .sec01 .profile .tab_wrap p{
    font-size: 12px;
  }
  .sec01 .profile>img{
    width: 100%;
  }
  .sec02_wrap .skill_wrap{
    height: 60%;
  }
  .imoticon>div{
    width: 33%;
  }
  .skill_wrap h2{
    top: 16%;
  }
  .sec02_wrap .skills{
    align-content: end;
    height: 70%;
    position: absolute;
    bottom: 5%;
  }
  .sec02_wrap .skills>div{
    width: 30%;
  }
  .sec02 .skill_num{
    top: -20%;
    font-size: 3vw;
  }
  .sec02 article{
    height: 40%;
  }
  .sec02 article .history{
    flex-direction: column;
    align-items: center;
  }
  .sec02 article .history>div{
    text-align: center;
  }
  .sec02 article .history li{
    font-size: 3vw;
  }
  .sec03 .sec03_wrap .port_wrap>div{
    width: 90% !important;
  }
  .hover_txt dl,.sec04 .main_img p{
    font-size: 0.825rem;
  }
  .swiper-button-next{
    right: 3% !important;
  }
  .swiper-button-prev{
    left: 3% !important;
  }
  .sec02 article .history{
    justify-content: start;
    padding-top: 20px;
  }
  .sec03 .sec03_wrap .port_wrap>div h3{
    font-size: 8vw;
  }
  .sec03 .sec03_wrap .port_wrap>div b{
    font-size: 40vw;
    top: 20%;
  }
  .sec03_wrap .port_hover .hover_txt dl dt{
    margin: 10px auto 0 auto;
  }
  .sec03 .hover_txt{
    width: 100%;
  }
  .sec03 .hover_txt>dl{
    width: 50%;
  }
  .sec04 .main_img{
    height: 45%;
    justify-content: space-between;
  }
  .sec04 .main_img>div{
    width: 45%;
    height: 60%;
  }
  .sec04 .main_img .visual{
    background-position-x: 20%;
  }
  .sec04 .main_img .leaflet{
    background-position-x: 5%;
  }
  .sec04 .main_img .etc_hover_txt{
    height: 70%;
    justify-content: center;
    align-items: center;
  }
  .sec04 .main_img h3{
    text-align: center;
  }
  .banner{
    height: 50%;
    bottom: 0;
  }
  .banner .banner_wrap{
    bottom: 0;
  }
  .banner img{
    padding: 0;
  }
  .banner h3{
    font-size: 2.5vw;
    top: 5%;
  }
  .foot .foot_img>img{
    width: 30%;
  }
  .foot .foot_wrap .con_box{
    margin-bottom: 5%;
  }
  .foot .txt_sns{
    width: 70%;
  }
  .foot .sns img{
    width: 70%;
  }
  .foot .txt_sns p{
    font-size: 0.825rem;
  }
  .sec04 h2, .sec03 .sec03_wrap h2{
    margin-left: 5%;
  }
  footer .send{
    font-size: 2vw;
  }
  .con_wrap button{
    height: 20px;
  }
  .foot .sns{
    justify-content: space-center;
  }
  .foot .sns>a{
    width: 20%;
  }
  .foot .foot_img{
    margin-bottom: 30px;
  }
}
@media (max-width:599px) {
  /* header nav{
    top: inherit;
    bottom: 0;
  } */




















}